<form class="ui large form segment">
	<h3 class="ui header">Add a link</h3>

<div class="field">
	<label for="title">Title:</label>
	<input name="title" id="title" #newtitle> <!-- added newtitle input element -->
</div>
<div class="field">
	<label for="link">Link:</label>
	<input name="link" id="link" #newlink> <!-- added newlink input element -->
</div>
<!-- added this button -->
<button (click)="addArticle(newtitle, newlink)"
	class="ui positive right floated button">
Submit link
</button>

</form>

<!-- add here -->
<div class="ui grid posts">
	<app-article
		*ngFor="let article of sortedArticles()"
		[article]="article">
	</app-article>
</div>
